<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label routerLink="/home">Cancelar</ion-label>
    <ion-title>ToDo List App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input placeholder="Titulo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-textarea
        [counter]="true"
        placeholder="Comienza a escribir desde aqui..."
        rows="10"
      ></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
